{% extends "news/base.html" %}

{% block body %}
    <h2 class="display-4 mx-4 my-4 font-weight-bold">Apple partners with OpenAI as it unveils 'Apple Intelligence'</h2>
    <img  src="https://image.hurimg.com/i/hurriyet/75/0x0/6667f16679207d16c3dca3d5.jpg" alt="Apple partners with OpenAI as it unveils 'Apple Intelligence'" class="w-50 ml-5 rounded" >
    <p class="h5 p-desc">
    Apple has unveiled "Apple Intelligence," its suite of new AI features for its coveted devices and a partnership with OpenAI as it seeks to catch up to rivals racing ahead on adopting the white hot technology.

For months, pressure has been on Apple to persuade doubters on its AI strategy, after Microsoft and Google rolled out products in rapid-fire succession.

But this latest move will take the experience of Apple products "to new heights," chief executive Tim Cook said as he opened an annual Worldwide Developers Conference at the tech giant's headquarters in the Silicon Valley city of Cupertino, California.

To help towards that end, Apple has partnered with OpenAI, which ushered in a new era for generative artificial intelligence in 2022 with the arrival of ChatGPT.

OpenAI was "very happy to be partnering with Apple to integrate ChatGPT into their devices later this year! Think you will really like it," posted the company's chief Sam Altman on social media.

Apple Intelligence will also be added to a new version of the iOS 18 operating system, unveiled at the week-long conference.

Apple executives stressed privacy safeguards have been built into Apple Intelligence to make its Siri digital assistant and other products smarter, without pilfering user data.

The big challenge for Apple has been how to infuse ChatGPT-style AI, which voraciously feeds off data, into its products without weakening its heavily promoted user privacy and security, according to analysts.

The system "puts powerful generative models right at the core of your iPhone, iPad and Mac," said Apple senior vice president of software engineering Craig Federighi.

But Tesla and SpaceX tycoon Elon Musk lashed out at the partnership, saying the threat to data security will make him ban iPhones at his companies.

"Apple has no clue what's actually going on once they hand your data over to OpenAI. They're selling you down the river," Musk said in a post on social media.

Apple Intelligence, which runs only on the company's in-house technology, will enable users to create their own emojis based on a description in everyday language, or to generate brief summaries of e-mails in the mailbox.

Apple said Siri, its voice assistant, will also get an AI infused upgrade and now will appear as a pulsating light on the edge of your home screen.

Apple said it expected to announce support for other AI models in the future.

The company founded by Steve Jobs had remained very quiet on AI since the start of the ChatGPT-sparked frenzy, with Apple for a while avoiding the term altogether.

But the pressure became too great, with Wall Street propelling Microsoft past Apple as the world's biggest company when measured by stock price, largely because of the Windows-maker's unabashed embrace of AI.
    </p>
    <p class="p-author">Zac Johns</p>
    <h5 class="text-muted float-right mb-2 mr-3">May 24,2024,15:40 p.m.</h5>

        
{% endblock %}